*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@font-face {
    font-family: inter;
    src: url(fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    line-height: 1.5;
    font-family: inter;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto auto 1fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-area: 1 / 1 / 2 / 3;
}

.logo-container {
    background-color: #2F96D1;
    color: #fff;
    padding: 20px;

    display: grid;
    grid-template: repeat(3, 25%) / repeat(2, 20px) auto;
    gap: 3px;

    align-content: center;
}

.logo-container div {
    background-color: #fff;
}

.logo-container p {
    font-weight: 700;
    padding-left: 8px;
    font-size: 1.6rem;
}

.logo-piece1 {
    grid-area: 1 / 1 / 3 / 1;
}

.logo-piece2 {
    grid-area: 1 / 2 / 2 / 3;
}

.logo-piece3 {
    grid-area: 3 / 1 / 4 / 2;
}

.logo-piece4 {
    grid-area: 2 / 2 / 4 / 3;
}

.tool-bar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-content: center;
}

.tool-bar * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-bar label {
    padding: 0 .8vw 0 2vw;
}

.tool-bar input {
    border: none;
    background-color: #D8D6DF;
    border-radius: 15px;
    height: 35px;
    align-self: center;
    padding: 0 15px;
    font-size: 1rem;
}

.tool-bar>div {
    padding: 0 2vw 0 5vw;
}

.tool-bar>img {
    border-radius: 50%;
    border: 2px solid #888;
}

.header-user-name {
    font-weight: 700;
    padding: 0 4vw 0 2vw;
    font-size: 1.2rem;
}

nav {
    grid-area: 2 / 1 / 4 / 2;
    background-color: #2F96D1;
    color: #fff;
    font-weight: 700;
    padding: 1vw 1.5vw;
    font-size: 1.2rem;
}

nav ul {
    margin-bottom: 70px;
}

nav li {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 2px;
    margin-bottom: 15px;
}

nav img {
    height: 25px;
}

.user-actions {
    grid-area: 2 / 2 / 3 / 3;
}

main {
    grid-area: 3 / 2 / 4 / 3;
}
